<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Framework imports -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/frameworks/bootstrap.js"></script>
    <script src="../static/js/frameworks/jquery.js"></script>

    <!-- Custom imports -->
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <!-- Success Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">PF Firewall</strong>
                <small>A second ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p id="succuessToastText"></p>
            </div>
        </div>
    </div>

    <!-- Unsuccess Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="unsuccessToast" class="toast text-bg-danger" role="alert" aria-live="assertive" data-bs-delay="30000"
            aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">PF Firewall</strong>
                <small>A second ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p id="unsuccessToastText"></p>
            </div>
        </div>
    </div>

    <!-- Warning Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="warningToast" class="toast text-bg-warning " role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">PF Firewall</strong>
                <small>A second ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p id="warningToastText"></p>
            </div>
        </div>
    </div>

    <script>
        const csrfToken = "{{ csrf_token }}";
        const successToastText = document.getElementById('succuessToastText');
        const unsuccessToastText = document.getElementById('unsuccessToastText');
        const warningToastText = document.getElementById('warningToastText');
        const successToast = new bootstrap.Toast(document.getElementById('successToast'));
        const unsuccessToast = new bootstrap.Toast(document.getElementById('unsuccessToast'));
        const warningToast = new bootstrap.Toast(document.getElementById('warningToast'));
    </script>

    <div class="container-fluid shadow-lg p-3 bg-dark">
        <nav class="navbar navbar-expand-lg my-1">
            <div class="container-fluid">
                <div class="fw-bold tex-light">Asset Management System</div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav me-auto mb-2 mx-4 mb-lg-0">
                        <div class="nav-item">
                            <a class="nav-link tex-light" aria-current="page" href="#">Home</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link tex-light" href="#">Link</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link tex-light">Disabled</a>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary mx-3" type="submit">Sign In</button>
                    <div class="vr bg-light"></div>
                    <button class="btn btn-outline-danger mx-3" type="submit">Log out</button>
                </div>
            </div>
        </nav>
    </div>

    <div class="row mt-5">
        <div class="col-2">
            <div class="container mx-3">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                                <strong>Users</strong>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="/users/list">List Users</a></li>
                                    <li class="list-group-item"><a href="/users/add">Add Users</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                <strong>Labels</strong>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="/labels/list">Add/Edit Labels</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                <strong>Stocks</strong>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="/stocks/list">List Stocks</a></li>
                                    <li class="list-group-item"><a href="/stocks/add">Add Stocks</a></li>
                                    <li class="list-group-item"><a href="/stocks/edit">Edit Stocks</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseFour">
                                <strong>Bill</strong>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><a href="/bills/list">List Bill</a></li>
                                    <li class="list-group-item"><a href="/bills/add">Add Bill</a></li>
                                    <li class="list-group-item"><a href="/bills/edit">Edit Bill</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10">
            <div class="d-flex" style="height: 80vh;">
                <div class="vr"></div>
                <div class="container">
                    <div class="card p-5 d-flex align-items-center justify-content-center ">
                        <h5 class="card-title h4 text-uppercase">{% block pagehead %} {% endblock %}</h5>
                        <div class="container p-5">
                            {% block content %} {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>